# Questions List
1. Game apa yang tertua dan game terbaru dalam dataset ?
2. Publisher mana yang menerbitkan game paling banyak ?
3. Developer mana yang paling banyak mengembangkan(developed) game ?
4. Series mana yang paling banyak terjual ?
5. Series apa yang game nya paling banyak ?

In [ ]:
# Import library
import pandas as pd
import numpy as np

In [ ]:
# Import Dataset from Google Drive
with open('/content/drive/MyDrive/Mini Course Revou/05 10 2022/Case Study/Games Sales - Games.csv','r') as dataset:
  df = pd.read_csv(dataset)
# Read Dataset
df

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,12/1/2017,Battle royale,PUBG Studios,Krafton
1,Minecraft,33.0,Minecraft,11/1/2011,"Sandbox, survival",Mojang Studios,Mojang Studios
2,Diablo III,20.0,Diablo,5/1/2012,Action role-playing,Blizzard Entertainment,Blizzard Entertainment
3,Garry's Mod,20.0,NaN,11/1/2006,Sandbox,Facepunch Studios,Valve
4,Terraria,17.2,NaN,5/1/2011,Action-adventure,Re-Logic,Re-Logic
...,...,...,...,...,...,...,...
172,Who Wants to Be a Millionaire?,1.0,NaN,11/1/1999,Trivia game,Jellyvision,Disney Interactive Studios
173,Wing Commander 3: Heart of the Tiger,1.0,Wing Commander,12/1/1994,Space combat simulation,Origin Systems,Electronic Arts
174,Zoo Tycoon,1.0,Zoo Tycoon,10/1/2001,Business simulation,Microsoft,Blue Fang Games
175,StarCraft II: Heart of the Swarm,1.0,StarCraft,3/1/2013,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
176,StarCraft II: Legacy of the Void,1.0,StarCraft,11/1/2015,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment

In [ ]:
# information dataset check
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       177 non-null    object
 1   Sales      177 non-null    float64
 2   Series     141 non-null    object
 3   Release    177 non-null    object
 4   Genre      177 non-null    object
 5   Developer  177 non-null    object
 6   Publisher  177 non-null    object
dtypes: float64(1), object(6)
memory usage: 9.8+ KB

In [ ]:
# sum of data null in dataset
df.isna().sum()

Name          0
Sales         0
Series       36
Release       0
Genre         0
Developer     0
Publisher     0
dtype: int64

In [ ]:
# sum of Data Duplicates
print("Sum Data Duplicates =", df.duplicated().sum())

# column table containing duplicate data
df[df.duplicated()]

Sum Data Duplicates = 2

,Name,Sales,Series,Release,Genre,Developer,Publisher
175,StarCraft II: Heart of the Swarm,1.0,StarCraft,3/1/2013,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
176,StarCraft II: Legacy of the Void,1.0,StarCraft,11/1/2015,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment

# Cleaning Dataset

In [ ]:
'''
1. Ubah Release jadi Date
2. Ganti Baris pada Kolom Series yang Kosong jadi "-"
3. Menghapus Duplikat pada Dataset
'''

In [ ]:
df_cleaned = df.copy()

# Convert Release to Date format = (yyyy-dd-mm)
df_cleaned['Release'] = pd.to_datetime(df_cleaned['Release'])

# Change null row in Series Coloumn by '-'
df_cleaned['Series'] = df_cleaned['Series'].fillna('-')

# Remove Duplicated Dataset
df_cleaned = df_cleaned.drop_duplicates(keep='first')

In [ ]:
# Check Dataset After Drop the Duplicated Data
print('Sum of Data Duplicates =', df_cleaned.duplicated().sum())
df_cleaned[df_cleaned.duplicated()]

In [ ]:
df_cleaned.info()

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,12/1/2017,Battle royale,PUBG Studios,Krafton
1,Minecraft,33.0,Minecraft,11/1/2011,"Sandbox, survival",Mojang Studios,Mojang Studios
2,Diablo III,20.0,Diablo,5/1/2012,Action role-playing,Blizzard Entertainment,Blizzard Entertainment
3,Garry's Mod,20.0,NaN,11/1/2006,Sandbox,Facepunch Studios,Valve
4,Terraria,17.2,NaN,5/1/2011,Action-adventure,Re-Logic,Re-Logic

In [ ]:
df_cleaned.to_csv("Game Sales Cleaned.csv", index=False)

# Answer Question and Data Visualization (not finished yet)

## 1. Which game is the oldest and the newest games in that dataset?

In [ ]:
release_sort = df_cleaned.sort_values(by='Release')
games_oldes_newest = pd.concat([release_sort.head(1), release_sort.tail(1)])
games_oldes_newest

,Name,Sales,Series,Release,Genre,Developer,Publisher
133,Hydlide,1.0,Hydlide,1984-12-01,Action role-playing,Technology and Entertainment Software,Technology and Entertainment Software
20,Valheim,6.0,-,2021-02-01,Survival,Iron Gate,Coffee Stain Publishing

## 2. Which publisher published most of the games?

In [ ]:
df_publisher = df_cleaned.groupby('Publisher', as_index=False)['Name'].sum()
# df_publisher = df_cleaned['Publisher'].value_counts()
df_publisher

In [ ]:
agg_payment = df_publisher.groupby('Publisher', as_index=True).value_counts()
agg_payment

In [ ]:
sns.barplot(df_cleaned, 'Publisher', data = df_cleaned.sort_values('Publisher', ascending = False))

plt.rcParams['figure.figsize'] = (10,5)
sns.barplot('Payment', 'Revenue', data = agg_payment.sort_values('Revenue', ascending = False))

## 3. Which developer developed most of the games?

In [ ]:
df_cleaned['Developer'].value_counts()

## 4. Which series is the most sales?

## 5. Which series have the most games?